:root {
  /*--color-dark: #16161d;*/
  --color-dark: #111;
  --color-dark--light: #424257;
  --color-almost-white: #f6f6f8;
  --color-gray-regular: #d8d8d8;
  --color-red-featured: #e84118;
  --spacing-1: 15px;
  --spacing-2: 30px;
  --spacing-3: 42px;
  --spacing-4: 50px;
  --line-height-regular: 1.42;
}
