.content {
  display: flex;
  flex-direction: column;
  padding: 16px;
  word-break: break-word;
}

.content img {
  display: block;
  margin: 16px 0;
}

.content p {
  font-weight: 300;
  line-height: 1.4;
  color: #303030;
  font-size: 1.1em;
}

.content blockquote {
  background-color: rgba(0, 0, 0, .05);
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, .1);
  margin: 8px;
  font-style: italic;
}

.content a {
  color: var(--color-red-featured);
}

.content h2 {
  font-size: 1.5em;
  margin: 16px 0;
  font-weight: 600;
  color: #030303;
}
